/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
/* banner-part */
.banner-part{
    display: flex;
    background-color: rgba(0, 0, 255, 0.747);
    margin-bottom: 70px;
   
       
}
.banner-part:hover{
    background-color: mediumslateblue;
    transition: 0.5s;
}
.cupa-button{
    width: 50%;
    color:#FFFFFF;
    padding-left: 90px; 
    padding-top: 140px; 
    
}
.cupa-button a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 12px;
}
.cupa-button a:hover{
    transition: 0.5s;
    background-color: black;
}
.banner-image img{
    width: 90%;
    height: 546px;
    padding-top: 63px;
    padding-left: 96px;
}
/* player styles */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    padding-left: 210px;
    
    
    
    
       
    
}
.player{
    /* width: 100%; */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 250px;
    box-shadow: 5px 5px 17px 1px rgba(128, 128, 128, 0.493);
    background-color: white;
    margin-bottom: 30px;
    
}
.player:hover{
    background-color: black;
    color: white;
    transition: 0.8s;
    
}
.player img{
    padding-top: 15px;
    padding-right: 15px;
    height: 230px;
    width: 250px;
    
}