/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 45px;
}
/* banner-part */
.banner-part{
    display: flex;
    background-color: rgba(0, 0, 255, 0.747);
    margin-bottom: 70px;
   
       
}
.banner-part:hover{
    background-color: mediumslateblue;
    transition: 0.5s;
}
.cupa-button{
    width: 50%;
    color:#FFFFFF;
    padding-left: 90px; 
    padding-top: 140px; 
    
}
.cupa-button a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 12px;
}
.cupa-button a:hover{
    transition: 0.5s;
    background-color: black;
}
.banner-image img{
    width: 90%;
    height: 546px;
    padding-top: 63px;
    padding-left: 96px;
}
/* player styles */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    padding-left: 210px;
    margin: 50px;
    
    
    
    
       
    
}
.player{
    /* width: 100%; */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 250px;
    box-shadow: 5px 5px 17px 1px rgba(128, 128, 128, 0.493);
    background-color: white;
    margin-bottom: 30px;
    
}
.player:hover{
    background-color: black;
    color: white;
    transition: 1s;
    
}
.player img{
    padding-top: 15px;
    padding-right: 15px;
    height: 230px;
    width: 250px;
    
}
/* bonous part */
.famous-players{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}
.two-players{
    display: flex;
    margin-left: 320px;
    margin-bottom: 150px; 
    
    
}
.naymer{
    padding-right: 50px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    
}
.naymer:hover{
    background-color: gray;
    transition: 1s;
    color: black;
}
.naymer img{
    height: 200px;
}
.naymer a{
    background-color: #E02C6D;
    padding: 12px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
}
.naymer a:hover{
    background-color: black;
    color: blanchedalmond;
    transition: 0.5s;
}
.messi{
    padding-right: 50px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    
}
.messi:hover{
    background-color: gray;
    transition: 1s;
    color: black;
}
.messi img{
    height: 200px;
}
.messi a{
    background-color: #E02C6D;
    padding: 12px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
}
.messi a:hover{
    background-color: black;
    color: blanchedalmond;
    transition: 0.5s;
}
h2{
    font-size: 30px;
}
/* Footer images */
footer{
    text-align: center;
    
}

footer img{
    width: 353px;
    height: 100px;
    margin-right: 20px;
}
.logo{
    color: gray;
}

/*--------------
 -Media Quaries -
 -----------------*/
/* Mobie device */
@media only screen and (max-width:688px) {
    body{
        margin: 0%;
    }
    .banner-part{
        
        display: block;
        margin-bottom: 40px;
        

    }
    .banner-image img{
        width: 69%;
        height: 350px;
        padding-left: 45px;
        margin-bottom: 40px;
        
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 7px;
    }
    .two-players{
        display: block;
        margin-left: 0px;
    }